<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stop Food Waste!</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css">
</head>
<body>

<div class="ms-background" width=" 33%">
  <nav class="ms-menu">
    <a href="home">HOME</a><br>
    <a href="reportSurplus">REPORT SURPLUS</a><br>
    <a href="viewDeliveries">VIEW DELIVERIES</a><br>
  </nav>
</div>

<div class="idcluster">
  <img class="picture" th:src="@{/images/foodwaste.jpg}" src="../images/foodwaste.jpg">
</div>

<div class="container">
  <form>
    <input type="text" placeholder="User Login Number">
    <br>
    <h4>Click here to register</h4>
    <br>
  </form>
</div>

<div class="main-content">
  <h3>Med denne app, kan du indsende dine nedskrivninger, så ukurante varer kan afhentes og leveres til et herberg eller institution omkring midnat!</h3>
</div>

</body>
</html>